<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Zup.Properties.Settings>
            <setting name="FormLocationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormLocationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimesheetsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ItemsToShow" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AutoOpenUpdateWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EntryListOpacity" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="DbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TrimDaysToKeep" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ExportRowFormat" serializeAs="String">
                <value>~StartedOnTicks~^~Task~^~Comments~^~TaskCode~^~Duration~^False^False</value>
            </setting>
            <setting name="ExportFileExtension" serializeAs="String">
                <value>.fd</value>
            </setting>
            <setting name="NumDaysOfDataToLoad" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="ShowQueuedTasks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRankedTasks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClosedTasks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DayStart" serializeAs="String">
                <value>07:00:00</value>
            </setting>
            <setting name="DayEnd" serializeAs="String">
                <value>04:00:00</value>
            </setting>
            <setting name="DayEndNextDay" serializeAs="String">
                <value>False</value>
            </setting>
        </Zup.Properties.Settings>
    </userSettings>
</configuration>